Repository dotnet/source-build, pull requests merged in 2018-05, with the labels that each got.

#504 Update AspNetCore package version used by CLI to 2.1.0-rc1-final
  patches/cli/0011-Set-AspNetCore-version-to-final.patch
Labels: Blocking-RC

#505 Remove CLI patch 10 - fix dependency uptake for repos that use repotoolset
  patches/cli/0010-Roslyn-plat-assembly-paths-for-RemainingTargets.patch
  repos/cli-migrate.proj
  repos/clicommandlineparser.proj
  repos/sdk.proj
  repos/symreader-portable.proj
  repos/symreader.proj
Labels: Blocking-RC

#509 Update msbuild version info to use property expected by repotoolset
  repos/msbuild.proj
Labels: Blocking-RC

#502 Remove cli patch 11: use package version props to set aspnet version
  patches/cli/0011-Set-AspNetCore-version-to-final.patch
  repos/cli.proj
  repos/dir.targets
  tools-local/tasks/Microsoft.DotNet.SourceBuild.Tasks/WriteBuildOutputProps.cs
Labels: Blocking-RTM, triaged

#559 Remove specified commit hash from cli.proj
  repos/cli.proj
Labels: Blocking-RTM

#562 Update ProdCon feed to 20180515-07
  ProdConFeed.txt
Labels: Blocking-RTM
