Repository dotnet/source-build, pull requests merged in 2021-05, with the labels that each got.

#2162 Update to the May 3.1.15 release
  NuGet.config
  build.sh
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  patches/aspnetcore/0006-Fix-version-number.patch
  patches/aspnetcore/0007-Remove-Yarn-dependency-not-used-in-source-build.patch
  patches/aspnetcore/0011-Support-global.json-on-arm64-as-well.patch
  smoke-testNuGet.Config
  tools-local/prebuilt-baseline-online.xml
Labels: area-release

#2163 Update to the May 5.0.6 release
  NuGet.config
  build.sh
  eng/SourceBuild.Tarball.KnownExtraPrebuilts.targets
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  patches/aspnetcore/0004-Remove-Yarn-dependency-not-used-in-source-build.patch
  patches/aspnetcore/0007-Support-global.json-on-arm64-as-well.patch
  patches/aspnetcore/0013-Use-source-built-NuGet-for-repo-tasks.patch
  patches/roslyn-analyzers/0011-Reference-latest-when-running-in-build.patch
  patches/xliff-tasks/0001-Remove-unneeded-feeds.patch
  patches/xliff-tasks/0001-xliff-tasks-remove-netcoreapp2.0-targets.patch
  tools-local/prebuilt-baseline-online.xml
Labels: area-release

#2137 Add a test to verify xml/intellisense docs are present
  smoke-test.sh
Labels: area-ci-testing

#2170 Build base tarball
  .vsts.pipelines/builds/matrix.yml
  .vsts.pipelines/jobs/ci-linux.yml
  .vsts.pipelines/steps/calculate-config-flags.yml
  Directory.Build.props
  build-source-tarball.sh
  build.proj
  eng/SourceBuild.Tarball.targets
  support/tarball/build.sh
  support/tarball/prep.sh
Labels: area-build

#2140 [release/3.1] Fix use of a simple directory name with build-source-tarball.sh
  build-source-tarball.sh
Labels: area-build

#2159 Trim down the main smoke-testNuGet.Config to generate the tarball version
  eng/SourceBuild.Tarball.targets
  support/tarball/smoke-testNuGet.Config
  tools-local/tasks/Microsoft.DotNet.SourceBuild.Tasks.XPlat/RemoveInternetSourcesFromNuGetConfig.cs
Labels: area-ci-testing
