Repository dotnet/source-build, pull requests merged in 2021-08, with the labels that each got.

#2363 Update Newtonsoft.Json to 13.0.1
  patches/newtonsoft-json/0001-update-AssemblyVersion-FileVersion-VersionPrefix-Ver.patch
  patches/newtonsoft-json/0002-remove-ruleset-and-unnecessary-dependencies.patch
  patches/newtonsoft-json/0002-removed-ruleset-and-dependency-on-a-couple-packages.patch
Labels: area-additional-repos

#2366 [release/5.0] Remove dependency on personal repo for Newtonsoft.Json 9.0.1 and 12.0.2
  eng/Version.Details.xml
  patches/newtonsoft-json/0001-Updated-AssemblyVersion-FileVersion-Version-Prefix-a.patch
  patches/newtonsoft-json/0002-removed-ruleset-and-dependency-on-a-couple-packages.patch
  patches/newtonsoft-json901/0001-Run-dotnet-migrate-to-generate-Newtonsoft.Json.Dotne.patch
  patches/newtonsoft-json901/0002-Fixup-result-of-migration.patch
  patches/newtonsoft-json901/0003-Use-correct-version-number.patch
Labels: area-prebuilt-reduction

#2368 Update to August 3.1.118 release.
  build-source-tarball.sh
  build.sh
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  patches/aspnetcore/0006-Fix-version-number.patch
  patches/aspnetcore/0011-Support-global.json-on-arm64-as-well.patch
  repos/toolset.proj
  tools-local/prebuilt-baseline-online.xml
Labels: area-release

#2369 Update to August 5.0.206 release.
  build.sh
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  patches/aspnetcore/0007-Support-global.json-on-arm64-as-well.patch
  tools-local/prebuilt-baseline-online.xml
Labels: area-release

#2371 [release/3.1] Remove dependency on personal repo for Newtonsoft.Json 9.0.1 and 12.0.2
  eng/Version.Details.xml
  patches/newtonsoft-json/0001-Updated-AssemblyVersion-FileVersion-Version-Prefix-a.patch
  patches/newtonsoft-json/0002-removed-ruleset-and-dependency-on-a-couple-packages.patch
  patches/newtonsoft-json901/0001-Run-dotnet-migrate-to-generate-Newtonsoft.Json.Dotne.patch
  patches/newtonsoft-json901/0002-Fixup-result-of-migration.patch
  patches/newtonsoft-json901/0003-Use-correct-version-number.patch
Labels: area-prebuilt-reduction

#2386 Update Versions.props for the 5.0.9/5.0.206 release.
  eng/Versions.props
Labels: area-release
