Repository dotnet/source-build, pull requests merged in 2021-11, with the labels that each got.

#2604 Add instructions for building dotnet 6.0 from source
  README.md
Labels: area-doc

#2616 Update to November 2021 5.0.209 release
  .vsts.pipelines/jobs/ci-linux.yml
  build.sh
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  patches/aspnetcore/0007-Support-global.json-on-arm64-as-well.patch
  smoke-testNuGet.Config
  tools-local/prebuilt-baseline-online.xml
Labels: area-release

#2631 Update SBRP version & commit
  eng/Version.Details.xml
Labels: area-build

#2627 RHEL CI and doc improvements
  .vsts.pipelines/jobs/ci-local.yml
  Documentation/rhel-machine-setup-and-ci.md
Labels: area-ci-testing
