Repository dotnet/source-build, pull requests merged in 2021-09, with the labels that each got.

#2428 [release/5.0 Remove view from dotnet-public
  NuGet.config
Labels: area-infra

#2429 [release/3.1] Remove view from feed
  NuGet.config
Labels: area-infra

#2157 [release/5.0] Print and store versions at end of every build
  build.proj
  smoke-test.sh
  tools-local/tasks/Microsoft.DotNet.SourceBuild.Tasks.XPlat/ParseDotNetVersions.cs
Labels: area-build

#2450 Use --work-tree with git apply in onboarding docs
  Documentation/planning/arcade-powered-source-build/onboarding/local-onboarding.md
Labels: area-build

#2461 Switch to servicing 1ES Pools in release/2.1
  .vsts.pipelines/builds/ci-internal.yml
  .vsts.pipelines/builds/matrix.yml
Labels: area-additional-repos

#2457 Update to September 5.0.207 release.
  build.sh
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  tools-local/prebuilt-baseline-online.xml
Labels: area-release

#2175 [release/5.0] Add x64 RHEL7 and 8 builds.
  .vsts.pipelines/builds/matrix.yml
  .vsts.pipelines/jobs/ci-linux.yml
  .vsts.pipelines/jobs/ci-linux_bootstrap.yml
  .vsts.pipelines/jobs/ci-local.yml
  .vsts.pipelines/steps/cleanup-unneeded-files.yml
  build-source-tarball.sh
Labels: area-ci-testing

#2340 [release/3.1] Checklist update to confirm that repos were updated.
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  Documentation/rhel-machine-setup-and-ci.md
Labels: area-doc

#2339 [release/5.0] Checklist update to confirm that repos were updated.
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  Documentation/rhel-machine-setup-and-ci.md
Labels: area-doc
