Repository dotnet/source-build, pull requests merged in 2021-12, with the labels that each got.

#2646 [release/3.1] Build base tarball
  .vsts.pipelines/builds/matrix.yml
  .vsts.pipelines/jobs/ci-linux.yml
  .vsts.pipelines/jobs/ci-linux_bootstrap.yml
  .vsts.pipelines/steps/calculate-config-flags.yml
  Directory.Build.props
  build-source-tarball.sh
  build.proj
  eng/SourceBuild.Tarball.targets
  support/tarball/build.sh
  support/tarball/prep.sh
Labels: area-prebuilt-reduction

#2659 Add CODEOWNERS file
  CODEOWNERS
Labels: area-additional-repos

#2690 [release/3.1] Add CI triggers for release/3.1 branches
  .vsts.pipelines/builds/ci-internal.yml
  .vsts.pipelines/builds/ci.yml
Labels: area-ci-testing
