Repository dotnet/source-build, pull requests merged in 2021-06, with the labels that each got.

#2228 Update to the 5.0.7 / 5.0.204 release
  .vsts.pipelines/jobs/ci-linux.yml
  build.sh
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  patches/aspnetcore/0007-Support-global.json-on-arm64-as-well.patch
  smoke-testNuGet.Config
  tools-local/prebuilt-baseline-online.xml
Labels: area-release

#2229 Update to the 3.1.16 / 3.1.116 release
  build.sh
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  patches/aspnetcore/0011-Support-global.json-on-arm64-as-well.patch
  tools-local/prebuilt-baseline-offline.xml
  tools-local/prebuilt-baseline-online.xml
Labels: area-release

#2103 Add a doc describing how to add new RIDs to source-build
  Documentation/README.md
  Documentation/add-new-rid.md
Labels: area-additional-repos

#2226 Update SBRP to 1.0.0-beta.21307.1
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-build

#2308 Add jonsequitur as owner of command-line-api repo
  Documentation/planning/arcade-powered-source-build/implementation-plan.md
Labels: area-additional-repos
