Repository dotnet/source-build, pull requests merged in 2022-02, with the labels that each got.

#2701 [release/3.1] Update OSX CI to macOS 10.15
  .vsts.pipelines/builds/matrix.yml
  .vsts.pipelines/steps/setup-macos-native.yml
  patches/corefx/0010-workaround-unsafe-for-cross-compilation-error.patch
Labels: area-ci-testing

#2747 Add new issue template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: area-doc

#2754 Update to 5.0.211 February 2022 release
  NuGet.config
  build.sh
  eng/Version.Details.xml
  eng/Versions.props
  global.json
  patches/aspnetcore/0007-Support-global.json-on-arm64-as-well.patch
  patches/sdk/0006-Remove-test-project.patch
  patches/sdk/0013-Use-PVP-version-of-System.Text.Json.patch
  tools-local/prebuilt-baseline-online.xml
Labels: area-release

#2763 Readme updates
  README.md
Labels: area-doc
