Repository dotnet/source-build, pull requests merged in 2022-07, with the labels that each got.

#2929 Add precise release checklist steps for smoke-test prereqs
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
Labels: area-ci-testing

#2919 Move source-build instructions to dotnet/installer
  README.md
Labels: area-additional-repos

#2923 Update documentation with notes from June servicing.
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  Documentation/servicing/common-prebuilt-issues.md
  Documentation/servicing/update-3.1.md
Labels: area-doc

#2940 Update to July 2022 3.1.421 release.
  build.sh
  eng/Version.Details.xml
  patches/aspnetcore/0006-Fix-version-number.patch
  patches/aspnetcore/0011-Support-global.json-on-arm64-as-well.patch
  patches/core-sdk/0010-Update-platform-abstractions.patch
  smoke-test.sh
Labels: area-release
