Repository dotnet/source-build, pull requests merged in 2022-03, with the labels that each got.

#2778 [release/5.0] CI improvements
  .vsts.pipelines/jobs/ci-linux.yml
  .vsts.pipelines/jobs/ci-local.yml
  .vsts.pipelines/steps/run-bootstrap.yml
  repos/Directory.Build.targets
  tools-local/tasks/Microsoft.DotNet.SourceBuild.Tasks.XPlat/UsageReport/ValidateUsageAgainstBaseline.cs
Labels: area-ci-testing

#2777 [release/3.1] Don't append attempt numbers to tarball artifacts in CI
  .vsts.pipelines/jobs/ci-linux.yml
  .vsts.pipelines/jobs/ci-linux_bootstrap.yml
  .vsts.pipelines/jobs/ci-local.yml
  .vsts.pipelines/steps/run-bootstrap.yml
Labels: area-ci-testing

#2798 Remove documentation that no longer applies
  Documentation/2.1-update-process.md
  Documentation/Core-FX-Tests.md
  Documentation/SourceBuildPrebuiltRepoStatus.md
  Documentation/servicing/make-commit-available.md
  Documentation/servicing/update-2.1.md
  Documentation/servicing/update-3.1-5.0.md
Labels: area-doc

#2788 Update to March 3.1.417 release.
  build.sh
  eng/Version.Details.xml
  patches/aspnetcore/0011-Support-global.json-on-arm64-as-well.patch
  patches/core-sdk/0010-Update-platform-abstractions.patch
  patches/corefx/0010-workaround-unsafe-for-cross-compilation-error.patch
  repos/core-sdk.proj
  repos/templating.proj
  smoke-testNuGet.Config
Labels: area-release
