Repository dotnet/source-build, pull requests merged in 2022-04, with the labels that each got.

#2812 Remove manual poison check in release checklist
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
Labels: area-release

#2811 [main] Introduce Source-Build release pipeline
  eng/source-build-release-announcement.md
  eng/source-build-release.yml
Labels: area-ci-testing

#2818 [main] Add pipeline stage to submit source-build updates PR
  eng/source-build-release-announcement.md
  eng/source-build-release-pr.md
  eng/source-build-release.yml
  eng/submit-source-build-release-pr.sh
Labels: area-additional-repos

#2830 Update the release checklist
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
Labels: area-release

#2837 Replace Gitter link with GH discussions.
  README.md
Labels: area-doc

#2826 Add poisoning documentation.
  Documentation/leak-detection.md
  Documentation/poison-report-format.md
Labels: area-doc

#2828 Update to April 2022 3.1.418 release.
  NuGet.config
  build.sh
  eng/Version.Details.xml
  patches/aspnetcore/0008-TargetFramework-changes.patch
  patches/aspnetcore/0011-Support-global.json-on-arm64-as-well.patch
  patches/aspnetcore/0015-fix-System.Text.Json-references.patch
  patches/core-sdk/0010-Update-platform-abstractions.patch
  repos/core-sdk.proj
Labels: area-release

#2846 [main] Fix several release pipeline PR issues
  eng/source-build-release.yml
  eng/submit-source-build-release-pr.sh
Labels: area-ci-testing

#2850 Update release checklist to capture smoke-test prereqs for each release
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
Labels: area-release
