Repository dotnet/source-build, pull requests merged in 2023-02, with the labels that each got.

#3173 Add paragraph about when bootstrapping is needed.
  Documentation/boostrap-new-os.md
Labels: area-doc

#3236 Add the 8.0 SB pre-release pipeline & update release notes
  .gitattributes
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  eng/get-build-info.sh
  eng/source-build-pre-release-8.0.yml
  eng/source-build-pre-release.yml
  eng/source-build-release.yml
  eng/templates/steps/get-build-info.yml
  eng/templates/variables/installer-pipelines.yml
Labels: area-release

#3235 Add GatherPackages to grab smoke-test prereqs.
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  test/GatherPackages.csproj
Labels: area-ci-testing

#3243 Make the SB mirroring pipeline work for 8.0 preview 1
  eng/source-build-pre-release-8.0.yml
  eng/source-build-release-mirror.yml
Labels: area-additional-repos

#3257 Unify existing SB pipelines into a new official release pipeline
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  eng/get-build-info.sh
  eng/push-tarball.sh
  eng/source-build-pre-release-8.0.yml
  eng/source-build-pre-release.yml
  eng/source-build-release-mirror.yml
  eng/source-build-release-official.yml
  eng/source-build-release.yml
  eng/submit-source-build-release-pr.sh
  eng/templates/stages/mirror.yml
  eng/templates/stages/pre-release.yml
  eng/templates/stages/release.yml
  eng/templates/steps/get-build-info.yml
  eng/templates/steps/validate-tag.yml
  eng/templates/variables/installer-pipelines.yml
  eng/templates/variables/pipelines.yml
Labels: area-additional-repos
