Repository dotnet/source-build, pull requests merged in 2023-11, with the labels that each got.

#3702 fixup failure on existing release
  eng/templates/stages/release.yml
Labels: untriaged

#3716 Fix tag matching logic
  eng/templates/stages/mirror.yml
Labels: untriaged

#3725 fixup tagGrepQuery
  eng/templates/stages/mirror.yml
Labels: untriaged, area-ci-testing

#3605 Delete obsolete documentation
  Documentation/EngineeringPlanLinuxDistroRepos.md
  Documentation/README.md
  Documentation/RepoApi.md
  Documentation/bootstrapping-guidelines.md
  Documentation/netcore-in-linux-distro-reqs.md
  Documentation/planning/arcade-powered-source-build/img/implementation-plan-graph.dot
  Documentation/planning/arcade-powered-source-build/implementation-plan.md
  Documentation/planning/arcade-powered-source-build/onboarding/README.md
  Documentation/planning/arcade-powered-source-build/onboarding/ci-onboarding.md
  Documentation/planning/arcade-powered-source-build/onboarding/img/ci-job.png
  Documentation/planning/arcade-powered-source-build/onboarding/local-onboarding.md
  Documentation/servicing/tagging.md
  Documentation/tool-dependencies.md
Labels: area-doc, untriaged

#3728 Remove obsolete gather-prereqs script
  eng/gather-prereqs.sh
Labels: untriaged, area-ci-testing

#3731 fixup grep broken pipe error
  eng/templates/stages/mirror.yml
Labels: untriaged, area-ci-testing

#3744 Include SBRP attribute info in poison docs
  Documentation/leak-detection.md
  Documentation/poison-report-format.md
Labels: untriaged
