Repository dotnet/source-build, pull requests merged in 2023-01, with the labels that each got.

#3191 Automatically upload SDK with release pipeline
  eng/source-build-release.yml
  eng/templates/steps/upload-to-blob-storage.yml
Labels: area-release

#3187 [main] Add pipeline for mirroring and tagging source-build releases
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  eng/source-build-release-mirror.yml
Labels: area-additional-repos

#3186 Enable CodeQL
  eng/source-build-release.yml
Labels: area-product-experience

#3216 Fix quoting error in source-build release pipeline
  eng/source-build-release.yml
Labels: area-additional-repos
