Repository dotnet/source-build, pull requests merged in 2023-04, with the labels that each got.

#3354 Release asset improvements
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  CODEOWNERS
  eng/source-build-release-announcement.md
  eng/source-build-release-official.yml
Labels: area-release, untriaged

#3365 Update eliminating-pre-builts.md
  Documentation/eliminating-pre-builts.md
Labels: untriaged

#3395 Fix `RELEASE_CHANNEL` not being replaced
  eng/templates/stages/release.yml
Labels: area-prebuilt-reduction, untriaged

#3394 Allow package mirroring to be skipped
  eng/source-build-release-official.yml
  eng/templates/stages/mirror.yml
Labels: area-additional-repos, untriaged

#3393 Fix extra leading `v` in release tag name
  eng/templates/stages/mirror.yml
Labels: untriaged

#3396 Make release JSON metadata not installer-specific
  eng/source-build-release-announcement.md
Labels: untriaged

#3355 Remove custom tarball attachment from VMR releases
  eng/templates/stages/release.yml
Labels: area-release, untriaged

#3397 Use SDK version as the release tag for .NET 6.0/7.0
  eng/templates/steps/initialize-release-info.yml
Labels: area-product-experience, untriaged

#3398 Fix release notes URL for preview releases
  eng/create-announcement-draft.sh
  eng/source-build-release-official.yml
  eng/templates/stages/pre-release.yml
  eng/templates/stages/release.yml
Labels: untriaged

#3400 Fix the release pipeline initialization step
  eng/templates/stages/pre-release.yml
  eng/templates/steps/initialize-release-info.yml
Labels: area-product-experience, untriaged

#3411 Do not require approvals on dry runs
  eng/source-build-release-official.yml
Labels: untriaged

#3414 Use the `Build.Ubuntu.2004.Amd64` pool for package mirroring
  eng/templates/stages/mirror.yml
Labels: area-build, untriaged

#3416 Prevent nuking of `global.json` in release PRs
  eng/submit-source-build-release-pr.sh
Labels: area-infra, untriaged

#3418 Omit build number in announcement title of preview releases
  eng/create-announcement-draft.sh
  eng/source-build-release-announcement.md
Labels: untriaged

#3412 Add release manifest and instructions to dotnet/dotnet releases
  eng/create-announcement-draft.sh
  eng/source-build-release-notes.md
  eng/templates/stages/release.yml
Labels: area-release
