Repository dotnet/source-build, pull requests merged in 2023-08, with the labels that each got.

#3570 Add OmniSharp version update to SB release checklist
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
Labels: area-additional-repos, untriaged

#3580 Add patch guideline documentation
  Documentation/patching-guidelines.md
Labels: area-doc, untriaged

#3593 Update release_checklist.md
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
Labels: area-release, untriaged

#3603 Remove obsolete copy of release checklist
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
Labels: area-release, untriaged
