Repository dotnet/source-build, pull requests merged in 2023-07, with the labels that each got.

#3550 Update unmanaged platform guidance
  Documentation/planning/arcade-powered-source-build/onboarding/ci-onboarding.md
Labels: area-release, untriaged

#3512 Upload smoke test prereqs tarball
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  eng/combine-tarballs.sh
  eng/templates/stages/mirror.yml
  eng/templates/stages/pre-release.yml
  eng/templates/steps/download-smoke-test-prereqs.yml
  eng/templates/variables/msrc-storage-variables.yml
Labels: area-ci-testing, untriaged

#3560 Update Arm job name ref for release pipeline
  eng/templates/stages/mirror.yml
Labels: area-release, untriaged

#3567 Update SB artifacts filename to include RID for 6.0/7.0
  eng/templates/stages/release.yml
Labels: area-release, untriaged

#3569 Add release checklist step to verify SDK diff tests
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
Labels: untriaged
