Repository dotnet/source-build, pull requests merged in 2023-03, with the labels that each got.

#3295 Improve / fix the SB release pipeline for 6.0/7.0 flows
  eng/get-build-info.sh
  eng/push-tarball.sh
  eng/source-build-release-official.yml
  eng/templates/stages/mirror.yml
  eng/templates/stages/release.yml
  eng/templates/steps/initialize-release-info.yml
Labels: area-release

#3299 Mirror packages to dotnet-security-partners
  eng/source-build-release-official.yml
  eng/templates/stages/mirror.yml
Labels: area-prebuilt-reduction

#3301 [main] Use new CI leg name
  eng/templates/stages/release.yml
Labels: area-ci-testing

#3302 Allow using gist for crafting custom release announcement
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  eng/create-announcement-draft.sh
  eng/push-tarball.sh
  eng/source-build-release-announcement.md
  eng/source-build-release-official.yml
  eng/templates/stages/pre-release.yml
  eng/templates/stages/release.yml
  eng/templates/steps/initialize-release-info.yml
Labels: area-release

#3311 Resolve a Secure Supply Chain issue
  test/NuGet.config
Labels: area-build

#3320 Use gist's title as the announcement title
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  eng/templates/stages/release.yml
Labels: area-release

#3318 Fix release PR submission script
  eng/templates/stages/release.yml
Labels: area-release

#3319 Skip mirroring when the tag already exists
  eng/templates/stages/mirror.yml
Labels: area-release

#3322 Use the release tag in the release attachment tarball name
  eng/templates/stages/release.yml
Labels: area-release

#3321 Use runtime version as the default release tag
  eng/templates/steps/initialize-release-info.yml
Labels: area-release

#3335 Add call to create PR in AzDo servicing.
  eng/push-tarball.sh
Labels: area-additional-repos

#3342 [main] Add gather-prereqs script
  .github/ISSUE_TEMPLATE/releases/release_checklist.md
  eng/gather-prereqs.sh
Labels: area-release, untriaged

#3331 Use runtime version as the release tag for 6.0/7.0
  eng/source-build-release-official.yml
  eng/templates/stages/mirror.yml
Labels: area-release

#3077 Elaborate on the updated goals for source-build
  README.md
Labels: area-additional-repos
