Repository dotnet/source-build, pull requests merged in 2024-06, with the labels that each got.

#4450 Update guidance with reference to sdk pipeline
  Documentation/VMR-re-bootstrapping.md
Labels: untriaged

#4468 Update re-bootstrapping doc with re-bootstrap pipeline
  Documentation/VMR-re-bootstrapping.md
Labels: area-native-bootstrapping, untriaged

#4456 Update CI policy to cover testing on oldest glibc version
  Documentation/ci-platform-coverage-guidelines.md
Labels: untriaged, area-ci-testing

#4479 Remove 7.0 references from documentation
  Documentation/boostrap-new-os.md
  Documentation/bootstrapping-guidelines.md
  Documentation/planning/multi-sdk-band-support.md
  Documentation/system-requirements.md
  README.md
Labels: area-doc, untriaged
