Repository dotnet/source-build, pull requests merged in 2024-02, with the labels that each got.

#4105 Update README.md
  README.md
Labels: area-release, untriaged

#4145 Remove sources for release pipeline
  eng/combine-tarballs.sh
  eng/create-announcement-draft.sh
  eng/get-build-info.sh
  eng/push-tarball.sh
  eng/source-build-release-announcement.md
  eng/source-build-release-notes.md
  eng/source-build-release-official.yml
  eng/source-build-release-pr.md
  eng/submit-announcement.sh
  eng/submit-source-build-release-pr.sh
  eng/templates/stages/mirror.yml
  eng/templates/stages/pre-release.yml
  eng/templates/stages/release.yml
  eng/templates/steps/download-smoke-test-prereqs.yml
  eng/templates/steps/initialize-release-info.yml
  eng/templates/steps/upload-to-blob-storage.yml
  eng/templates/variables/msrc-storage-variables.yml
  eng/templates/variables/pipelines.yml
Labels: area-release, untriaged

#4123 Add package dependency flow documentation
  Documentation/package-dependency-flow.md
Labels: area-doc, untriaged

#3726 Add Guidelines for Platforms Tested in CI
  Documentation/ci-platform-coverage-guidelines.md
  Documentation/package-dependency-flow.md
Labels: area-testing, untriaged
